@import "_config.scss";
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    .logo {}
    .config {
        display: flex;
        flex-direction: column;
        align-items: center;
        div label {
            display: flex;
            p {
                margin: 0px;
                font-weight: 700;
            }
        }
        div input[type="range"] {
            -webkit-appearance: none;
            width: 200px;
            height: 15px;
            border-radius: 2px;
            background-repeat: no-repeat;
            margin: 0;
            margin-top: 10px;
            margin-bottom: 10px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            cursor: pointer;
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                height: 20px;
                width: 20px;
                border-radius: 5px;
                background: linear-gradient(132.23deg, #37B780 5.47%, #379696 94.61%);
                cursor: pointer;
                box-shadow: 0 0 2px 0 #555;
            }
        }
        .wordConfig input[type="range"] {
            background: linear-gradient(90deg, #37b780 5.47%, #ff4903 94.61%);
        }
        .nbAttempsConfig input[type="range"] {
            background: linear-gradient(90deg, #ff4903 5.47%, #37b780 94.61%);
        }
        button {
            border: none;
            padding: 30px;
            border-radius: 7px;
            font-size: 40px;
            background: linear-gradient(132.23deg, #37B780 5.47%, #379696 94.61%);
            transition: transform .2s;
            margin-top: 150px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            cursor: pointer;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
    table {
        display: none;
        justify-content: center;
        .letter {
            width: 3rem;
            height: 3rem;
            left: 0px;
            top: 0px;
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 700;
            font-size: 1.3rem;
            line-height: 48px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: -0.05em;
            color: white;
            text-transform: uppercase;
            border: 1px solid rgba(38, 57, 84, 0.16);
            border-radius: 4px;
            outline: none;
            transition: all 1s;
        }
        .selectedRow {
            & td {
                & input {
                    background: linear-gradient(132.23deg, #37B780 5.47%, #379696 94.61%);
                    border: 2px solid black;
                }
            }
        }
        .usedRow {
            & td {
                & input {
                    background-Color: #4a4a48;
                    color: white;
                }
            }
        }
    }
}

.inputEmpty {
    animation: alerte .5s forwards;
}

@media screen and (max-width: $phone) {
    body {
        table {
            .letter {
                width: 1.3rem;
                height: 1.3rem;
                font-size: 1.3rem;
            }
        }
    }
}

@media screen and (min-width: $phone) and( max-width: $bigPhone) {
    body {
        table {
            .letter {
                width: 2rem;
                height: 2rem;
                font-size: 2rem;
            }
        }
    }
}